* {
  margin: 0;
  padding: 0;
}

/* html entities */
body {
  background-color: black;
  /*font grows 1px for every 100px of viewport width*/
  font-size: calc(1em + 1vw);
  /* leading grows along with font, */
  /* with an additional 0.1em + 0.5px per 100px of the viewport */
  line-height: calc(1.5em + 0.5vw);
  font-family: Molengo;
  width: 100vw;
  height: 60vh;
  color: white;
  overflow-y: hidden; // hide vertical\
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

h1 {
  font-size: calc(1em + 10vw);
  line-height: 18vw;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.landing-page-wrapper {
  height: 50%;
}

.landing-menu-wrapper {
  height: 30vh;
}

.lading-social-wrapper {
  height: 10vh;
  text-align: center;
  font-size: calc(1.5em + 1.5vw);
}

@media (min-width: 50em) {
  h1 {
    font-size: 8vw;
    line-height: 18vw;

  }
}
