@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <div class="landing-page-wrapper">
        <div class="landing-menu-wrapper">
            <!-- <p>menu will be here</p> -->
        </div><!-- end of landing menu wrapper -->
        <div class="landing-title-wrapper">
            <h1>rchrd<b>KOLLAR</b></h1>
            <!-- title in the middle wrapper-->
        </div><!-- lading title wrapper end -->
        <div class="lading-social-wrapper">
            <!-- TODO , replace with ::before :: after -->
            <i class="fa fa-google" onclick="showAlert()"></i> |
            <i class="fa fa-facebook-square"></i> |
            <i class="fa fa-twitter"></i> |
            <i class="fa fa-youtube"></i> |
            <i class="fa fa-instagram"></i> |
            <i class="fa fa-github"></i> |
            <i class="fa fa-linkedin"></i> |
            <i class="fa fa-reddit"></i> |
            <i class="fa fa-spotify"></i> |
            <i class="fa fa-quora"></i> |
            <i class="fa fa-gitlab"></i> |
            <i class="fa fa-bitbucket"></i>
        </div><!-- social icons wrapper -->
        <!-- <div class="landing-footer-wrapper">
          <span><a href="tel:+421940222620">+421940222620</a></span> |
          <span><a href="mailto:rchrdkollar@gmail.com">rchrdkollar@gmail.com</a></span>
        </div> -->
    </div>
    <!-- landing page wrapper -->
</body>