@page
@model IndexModel
@{
    ViewData["Title"] = "rchrdKollar";
}

<body>
    <div class="landing-page-wrapper">
        <div class="landing-menu-wrapper">
        </div>
        <div class="landing-title-wrapper">
            <h1>rchrd<b>KOLLAR</b></h1>
        </div>
        <div class="lading-social-wrapper">
            <i class="fa fa-google" onclick="showAlert()"></i> |
            <i class="fa fa-facebook-square"></i> |
            <i class="fa fa-twitter"></i> |
            <i class="fa fa-youtube"></i> |
            <i class="fa fa-instagram"></i> |
            <i class="fa fa-github"></i> |
            <i class="fa fa-linkedin"></i> |
            <i class="fa fa-reddit"></i> |
            <i class="fa fa-spotify"></i> |
            <i class="fa fa-quora"></i> | 
            <i class="fa fa-gitlab"></i> |
            <i class="fa fa-bitbucket"></i>
        </div>
    </div>
</body>