* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fafffd;
  background: #342e37;
}

body,
html {
  font-size: calc(1em + 1vw);
  line-height: calc(1.5em + 1.5vw);
  font-family: Molengo;
  position: relative;
}

h1 {
  font-size: calc(1em + 1vw);
  line-height: 18vw;
  word-break: break-all;
  display: block;
}
h1 > b {
  color: #54DDA6;
}
.landing-menu-wrapper {
  height: 30vh;
}
.lading-social-wrapper {
  font-size: calc(1em + 1vw);
}

@media screen and (min-width: 61vw) {
  h1 {
    font-size: calc(1em + 10vw);
  }
  .lading-social-wrapper {
    word-break: break-all;
    line-height: 5vh;
  }
}

@media screen and (max-width: 60vw) {
  h1 {
    font-size: calc(1em + 1vw);
  }
}

